
# Web Framework
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
python-dotenv==1.0.0
pydantic==2.5.0
pydantic-settings==2.1.0

# PDF Processing (Render-optimized)
pdfplumber==0.10.3
pillow==10.1.0

# AI
groq==0.4.1

# Vector Store
faiss-cpu
numpy==1.26.2

# Data Processing
pandas==2.1.4

# Supabase
supabase==2.3.0

# for chatbot pip dependencies:
httpx
python-dotenv
